In [34]:
import pandas as pd 
df= pd.read_csv("vgsales.csv")
df.shape

(16598, 11)

In [35]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [36]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [37]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [38]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [40]:
df["Genre"].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [41]:
df["Platform"].value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
WS         6
SCD        6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [42]:
df["Publisher"].value_counts()
#pd.set_option("max_rows",None)

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Mirai Shounen                      1
Kando Games                        1
Strategy First                     1
Warashi                            1
Adeline Software                   1
Name: Publisher, Length: 578, dtype: int64

In [43]:
df["Publisher"].unique()

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment',
       'Sony Computer Entertainment Europe', 'Square Enix', 'LucasArts',
       'Virgin Interactive', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       nan, 'Majesco Entertainment', 'Codemasters', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       '989 Studios', 'NCSoft', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'Valve Software', 'ASCII Entertainment',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Activision Value', 'Banpresto', 'D3Publisher',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Hello Games', 'Global Star', 'Gotham Games', 'Westwood Studios',
       'GungHo', 'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'Atlus', 'TDK Mediactive', 'ASC Games',
       'Zoo Games', 'Accolade', 'Sony Online Entertainment', '3DO', 'RTL',
       'Natsume', 'Focus Home Interactive', 'Alchemist',
       'Black Label Games', 'SouthPeak Games', 'Mastertronic', 'Ocean',
       'Zoo Digital Publishing', 'Psygnosis', 'City Interactive',
       'Empire Interactive', 'Success', 'Compile', 'Russel', 'Taito',
       'Agetec', 'GSP', 'Microprose', 'Play It', 'Slightly Mad Studios',
       'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'Pinnacle', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'SCi', 'Quelle', 'mixi, Inc', 'Rage Software', 'Ubisoft Annecy',
       'Scholastic Inc.', 'Interplay', 'Mystique', 'ChunSoft',
       'Square EA', '20th Century Fox Video Games', 'Avanquest Software',
       'Hudson Entertainment', 'Nordic Games', 'Men-A-Vision', 'Nobilis',
       'Big Ben Interactive', 'Touchstone', 'Spike', 'Jester Interactive',
       'Nippon Ichi Software', 'LEGO Media', 'Quest',
       'Illusion Softworks', 'Tigervision', 'Funbox Media',
       'Rocket Company', 'Metro 3D', 'Mattel Interactive', 'IE Institute',
       'Rondomedia', 'Sony Computer Entertainment America',
       'Universal Gamex', 'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds', 'Laguna',
       'Ignition Entertainment', 'Takara', 'Kadokawa Shoten', 'Destineer',
       'Enterbrain', 'Xseed Games', 'Imagineer',
       'System 3 Arcade Software', 'CPG Products', 'Aruze Corp',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'XS Games', 'Activision Blizzard',
       'Pack In Soft', 'Rebellion', 'Xplosiv', 'Ultravision',
       'GameMill Entertainment', 'Wanadoo', 'NovaLogic', 'Telltale Games',
       'Epoch', 'BAM! Entertainment', 'Knowledge Adventure', 'Mastiff',
       'Tetris Online', 'Harmonix Music Systems', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Mentor Interactive', 'Kemco',
       'Human Entertainment', 'Avanquest', 'Data Age',
       'Electronic Arts Victor', 'Black Bean Games', 'Jack of All Games',
       '989 Sports', 'Takara Tomy', 'Media Rings', 'Elf', 'Kalypso Media',
       'Starfish', 'Zushi Games', 'Jorudan', 'Destination Software, Inc',
       'New', 'Brash Entertainment', 'ITT Family Games', 'PopCap Games',
       'Home Entertainment Suppliers', 'Ackkstudios', 'Starpath Corp.',
       'P2 Games', 'BPS', 'Gathering of Developers', 'NewKidCo',
       'Storm City Games', 'CokeM Interactive', 'CBS Electronics',
       'Magix', 'Marvelous Interactive', 'Nihon Falcom Corporation',
       'Wargaming.net', 'Angel Studios', 'Arc System Works', 'Playmates',
       'SNK Playmore', 'Hamster Corporation', 'From Software',
       'Nippon Columbia', 'Nichibutsu', 'Little Orbit',
       'Conspiracy Entertainment', 'DTP Entertainment', 'Hect',
       'Mumbo Jumbo', 'Pacific Century Cyber Works', 'Indie Games',
       'Liquid Games', 'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Gust',
       'SNK', 'NEC Interchannel', 'FuRyu', 'Xing Entertainment',
       'ValuSoft', 'Victor Interactive', 'Detn8 Games',
       'American Softworks', 'Nordcurrent', 'Bomb', 'Falcom Corporation',
       'AQ Interactive', 'CCP', 'Milestone S.r.l.', 'Sears',
       'JoWood Productions', 'Seta Corporation', 'On Demand', 'NCS',
       'Aspyr', 'Gremlin Interactive Ltd', 'Agatsuma Entertainment',
       'Compile Heart', 'Culture Brain', 'Mad Catz', 'Shogakukan',
       'Merscom LLC', 'Rebellion Developments', 'Nippon Telenet',
       'TDK Core', 'bitComposer Games', 'Foreign Media Games', 'Astragon',
       'SSI', 'Kadokawa Games', 'Idea Factory',
       'Performance Designed Products', 'Asylum Entertainment',
       'Core Design Ltd.', 'PlayV', 'UFO Interactive',
       'Idea Factory International', 'Playlogic Game Factory',
       'Essential Games', 'Adeline Software', 'Funcom',
       'Panther Software', 'Blast! Entertainment Ltd', 'Game Life',
       'DSI Games', 'Avalon Interactive', 'Popcorn Arcade',
       'Neko Entertainment', 'Vir2L Studios', 'Aques', 'Syscom',
       'White Park Bay Software', 'System 3', 'Vatical Entertainment',
       'Daedalic', 'EA Games', 'Media Factory', 'Vic Tokai',
       'The Adventure Company', 'Game Arts', 'Broccoli', 'Acquire',
       'General Entertainment', 'Excalibur Publishing', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Paradox Interactive', 'Hip Interactive',
       'DreamCatcher Interactive', 'Tripwire Interactive', 'Sting',
       'Yacht Club Games', 'SCS Software', 'Bigben Interactive',
       'Havas Interactive', 'Slitherine Software', 'Graffiti', 'Funsta',
       'Telstar', 'U.S. Gold', 'DreamWorks Interactive',
       'Data Design Interactive', 'MTO', 'DHM Interactive', 'FunSoft',
       'SPS', 'Bohemia Interactive', 'Reef Entertainment',
       'Tru Blu Entertainment', 'Moss', 'T&E Soft', 'O-Games',
       'Aksys Games', 'NDA Productions', 'Data East',
       'Time Warner Interactive', 'Gainax Network Systems', 'Daito',
       'O3 Entertainment', 'Gameloft', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Valcon Games', 'PopTop Software',
       'TOHO', 'HMH Interactive', '5pb', 'Cave',
       'CDV Software Entertainment', 'Microids', 'PM Studios', 'Paon',
       'Micro Cabin', 'GameTek', 'Benesse', 'Type-Moon',
       'Enjoy Gaming ltd.', 'Asmik Corp', 'Interplay Productions',
       'Asmik Ace Entertainment', 'inXile Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Culture Publishers', 'Griffin International', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Mitsui', 'Milestone', 'Abylight', 'Flight-Plan', 'Glams', 'Locus',
       'Warp', 'Daedalic Entertainment', 'Alternative Software',
       'Myelin Media', 'Mercury Games', 'Irem Software Engineering',
       'Sunrise Interactive', 'Elite', 'Evolution Games', 'Tivola',
       'Global A Entertainment', 'Edia', 'Athena', 'Aria', 'Gamecock',
       'Tommo', 'Altron', 'Happinet', 'iWin', 'Media Works', 'Fortyfive',
       'Revolution Software', 'Imax', 'Crimson Cow', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Insomniac Games',
       'Ascaron Entertainment GmbH', 'Asgard', 'Ecole', 'Yumedia',
       'Phenomedia', 'HAL Laboratory', 'Grand Prix Games', 'DigiCube',
       'Creative Core', 'Kaga Create', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', 'Coconuts Japan', 'Arika',
       'Ertain', 'Marvel Entertainment', 'Prototype',
       'TopWare Interactive', 'Phantagram', '1C Company',
       'The Learning Company', 'TechnoSoft', 'Vap', 'Misawa', 'Tradewest',
       'Team17 Software', 'Yeti', 'Pow', 'Navarre Corp', 'MediaQuest',
       'Max Five', 'Comfort', 'Monte Christo Multimedia', 'Pony Canyon',
       'Riverhillsoft', 'Summitsoft', 'Milestone S.r.l', 'Playmore',
       'MLB.com', 'Kool Kizz', 'Flashpoint Games', '49Games',
       'Legacy Interactive', 'Alawar Entertainment', 'CyberFront',
       'Cloud Imperium Games Corporation', 'Societa',
       'Virtual Play Games', 'Interchannel', 'Sonnet', 'Experience Inc.',
       'Zenrin', 'Iceberg Interactive', 'Ivolgamus', '2D Boy',
       'MC2 Entertainment', 'Kando Games', 'Just Flight', 'Office Create',
       'Mamba Games', 'Fields', 'Princess Soft', 'Maximum Family Games',
       'Berkeley', 'Fuji', 'Dusenberry Martin Racing', 'imageepoch Inc.',
       'Big Fish Games', 'Her Interactive', 'Kamui', 'ASK',
       'Headup Games', 'KSS', 'Cygames', 'KID', 'Quinrose', 'Sunflowers',
       'dramatic create', 'TGL', 'Encore', 'Extreme Entertainment Group',
       'Intergrow', 'G.Rev', 'Sweets', 'Kokopeli Digital Studios',
       'Number None', 'Nexon', 'id Software', 'BushiRoad', 'Tryfirst',
       'Strategy First', '7G//AMES', 'GN Software', "Yuke's",
       'Easy Interactive', 'Licensed 4U', 'FuRyu Corporation',
       'Lexicon Entertainment', 'Paon Corporation', 'Kids Station', 'GOA',
       'Graphsim Entertainment', 'King Records', 'Introversion Software',
       'Minato Station', 'Devolver Digital', 'Blue Byte', 'Gaga',
       'Yamasa Entertainment', 'Plenty', 'Views', 'fonfun', 'NetRevo',
       'Codemasters Online', 'Quintet', 'Phoenix Games', 'Dorart',
       'Marvelous Games', 'Focus Multimedia', 'Imageworks',
       'Karin Entertainment', 'Aerosoft', 'Technos Japan Corporation',
       'Gakken', 'Mirai Shounen', 'Datam Polystar', 'Saurus', 'HuneX',
       'Revolution (Japan)', 'Giza10', 'Visco', 'Alvion', 'Mycom', 'Giga',
       'Warashi', 'System Soft', 'Sold Out', 'Lighthouse Interactive',
       'Masque Publishing', 'RED Entertainment', 'Michaelsoft',
       'Media Entertainment', 'New World Computing', 'Genterprise',
       'Interworks Unlimited, Inc.', 'Boost On', 'Stainless Games',
       'EON Digital Entertainment', 'Epic Games', 'Naxat Soft',
       'Ascaron Entertainment', 'Piacci', 'Nitroplus',
       'Paradox Development', 'Otomate', 'Ongakukan', 'Commseed',
       'Inti Creates', 'Takuyo', 'Interchannel-Holon', 'Rain Games',
       'UIG Entertainment'], dtype=object)

In [44]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [45]:
df["Year"]=df["Year"].fillna(df["Year"].mean())
df.isnull().sum()

Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [46]:
df=df.dropna(axis=0)
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [47]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [48]:
dropcol=["Name","NA_Sales","EU_Sales","JP_Sales","Other_Sales"]
df.drop(dropcol,axis=1,inplace=True)

C:\Users\Faith\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [49]:
df

        Rank Platform    Year         Genre   Publisher  Global_Sales
0          1      Wii  2006.0        Sports    Nintendo         82.74
1          2      NES  1985.0      Platform    Nintendo         40.24
2          3      Wii  2008.0        Racing    Nintendo         35.82
3          4      Wii  2009.0        Sports    Nintendo         33.00
4          5       GB  1996.0  Role-Playing    Nintendo         31.37
...      ...      ...     ...           ...         ...           ...
16593  16596      GBA  2002.0      Platform       Kemco          0.01
16594  16597       GC  2003.0       Shooter  Infogrames          0.01
16595  16598      PS2  2008.0        Racing  Activision          0.01
16596  16599       DS  2010.0        Puzzle    7G//AMES          0.01
16597  16600      GBA  2003.0      Platform     Wanadoo          0.01

[16540 rows x 6 columns]

In [57]:
dummies=["Platform","Year","Genre","Publisher"]

In [51]:
pd.get_dummies(df["Publisher"])

,10TACLE Studios,1C Company,20th Century Fox Video Games,2D Boy,3DO,49Games,505 Games,5pb,7G//AMES,989 Sports,...,Zushi Games,bitComposer Games,dramatic create,fonfun,iWin,id Software,imageepoch Inc.,inXile Entertainment,"mixi, Inc",responDESIGN
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16596,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
def mapping (data,colunms):
    for x in colunms:
        dummies=pd.get_dummies(data[x])
        data=pd.concat([data,dummies],axis=1)
        data.drop(x,axis=1,inplace=True)
    return data

In [60]:
df=mapping(df,dummies)

In [61]:
df

,Rank,Global_Sales,2600,3DO,3DS,DC,DS,GB,GBA,GC,...,Zushi Games,bitComposer Games,dramatic create,fonfun,iWin,id Software,imageepoch Inc.,inXile Entertainment,"mixi, Inc",responDESIGN
0,1,82.74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,40.24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,35.82,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,33.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,31.37,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16594,16597,0.01,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16595,16598,0.01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16596,16599,0.01,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16597,16600,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0